.homePageBody {
    background-image: url('../assets/hero_image.svg');
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.getStartedBox {
    border: solid;
    border-radius: 5px;
    width: 447px;
    height: 413px;
    background: #ffffff;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2rem;
}

.trending {
    /* border: solid; */
}

.home-tittle {
    font-family: 'Coustard';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 67px;
    margin: 0;
}

.home-subtittle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #191716;
}

.yellow-dot {
    color: #ffbe24;
}

.slide-container {
    background: #97999d;
    padding-bottom: 3rem;
}